@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

textarea {
  resize: none;
}

.btn {
  background-color: orange;
  min-width: 240px;
  max-width: 280px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  z-index: 500;
}

.primary-btn {
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    transition: width 0.5s;
    z-index: -1;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover {
    border: 1px solid orange;
    color: orange;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
}

.header {
  padding: 20px 0;

  &__title {
    text-align: center;
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }
}

.todo__form {
  margin-bottom: 100px;

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__input {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px 20px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    max-width: 600px;

    & span {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }


  }

  &__textarea {
    min-height: 120px;
    font-family: inherit;
    font-size: inherit;
    padding: 10px 20px;
  }


  &__btn {
    @media screen and (max-width: 767px) {
      max-width: unset;
      align-self: unset;
    }
  }
}

.todo__btn {
  min-width: unset;
  flex: 0 0 35px;
  height: 35px;
  font-size: 18px;
  transition: .2s all ease;

  &:hover {
    background-color: #fff;
    color: orange;
    border: 1px solid orange;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.todo__item {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 20px;
  height: 100%;
  // min-height: 150px;
  position: relative;

  &-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &-body {
    display: flex;
    justify-content: space-between;
    height: 100%;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &-btns {
    display: flex;
    justify-content: flex-end;
  }

}

.todo__descr {
  margin-right: 25px;
  flex: 0 1 70%;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 475px) {
    margin-right: 0;
    flex: 1 1 100%;
  }
}

.todo__title {
  margin-right: 25px;
  flex: 0 1 50%;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

  @media screen and (max-width: 475px) {
    font-size: 16px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.todo__date {
  font-size: 14px;
  align-self: flex-end;
}

.todo__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: auto;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: .5s all ease;

  &__wrapper {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 40px 20px 50px 20px;
    width: 100%;
    max-width: 500px;
    min-height: 350px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &.edit-item {
      align-items: unset;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.modal__active {
  visibility: visible;
  opacity: 1;
}

.todo__placeholder {
  font-size: 30px;
  color: grey;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 25px;
  }

  @media screen and (max-width: 475px) {
    font-size: 20px;
  }
}

.error__input {
  border: 1px solid red;

  &::placeholder {
    color: red;
    font-weight: 700;
  }
}


.locked {
  overflow: hidden;
}

.edit-btn {
  background-image: url("../img/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.edit-textarea {
  min-height: 150px;
}

.edit-modal__text {
  font-size: 20px;
  margin-bottom: 35px;
}